CompileFlags:
  Add: [ -Wall, -Wextra, -Werror ]

Diagnostics:  
  Suppress: [ -Wc99-designator ]
  ClangTidy:
    Add: '*'
    Remove: 
        # ego I guess
      - llvmlibc-implementation-in-namespace
      - llvmlibc-callee-namespace
      - llvmlibc-restrict-system-libc-headers

        # I BELIEVE IN MAGIC
      - readability-magic-numbers
      - cppcoreguidelines-avoid-magic-numbers

      - modernize-use-trailing-return-type

        # short names gang gang
      - readability-identifier-length

        # its never done
      - google-readability-todo

        # namespace comment
      - llvm-namespace-comment
      - google-readability-namespace-comments

        # c arrays
      - modernize-avoid-c-arrays
      - cppcoreguidelines-avoid-c-arrays
      - hicpp-avoid-c-arrays

        # no braces if
      - readability-braces-around-statements
      - google-readability-braces-around-statements
      - hicpp-braces-around-statements

      - fuchsia-default-arguments-declarations
      - fuchsia-default-arguments-calls

        # upper case 
      - readability-uppercase-literal-suffix
      - cert-dcl16-c
      - hicpp-uppercase-literal-suffix
